/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
}

/*----Nav Bar----*/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  top: 0px;
  width: 100%;
  position: fixed;
}
a {
  color: white;
}
.left {
  float: left;
  border-right:1px solid #bbb;
}
.left:last-child {
  border-right: none;
}
.left a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.left a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #008080;
}
.right {
  margin-right: 25px;
}
.right:last-child {
  border-left: none;
}
.right a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 8px 5px 8px;
  margin: auto;
}

/*----Default Module Styling----*/
div.top {
  margin-top: 0px;
}
.container {
  margin: 0 auto;
}
.module.content {
  font-family: 'Goudy Bookletter 1911', serif;
  background-color: #9aa6b1;
}
.module.content h2 {
  color: #1d3030;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 2%;
  font-size: 45px;
  text-align: center;
}
section.module p {
  margin-bottom: 40px;
  color: #1d3030;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 196, 26, 0.9);
  font-family: 'Marcellus SC', serif;
  font-size: 90px;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
}
#main_title {
  font-size: 110px;
}

/*----Work Section----*/
div.work {
  max-height: 450px;
}
#projects {
  margin: 0 auto;
  text-align: center;
}
#projects .img {
    border: 3px solid #ccc;
    display: inline-block;
    height: auto;
    margin: 15px;
}
#projects .desc {
  color: #1d3030;
  font-size: 1.5em;
  padding: 5px;
  text-align: center;
}
section.module.parallax-1 {
  background-image: url("https://googledrive.com/host/0B6KECWa9VYOFY0FoRG9FVVVPTHM/ghanaTree.jpg");
}
section.module.parallax-2 {
  background-image: url("../images/lowerTown.jpg");
}
section.module.parallax-3 {
  background-image: url("https://googledrive.com/host/0B6KECWa9VYOFY0FoRG9FVVVPTHM/Boston.jpg");
}
section.module.parallax-4 {
  background-image: url("https://googledrive.com/host/0B6KECWa9VYOFY0FoRG9FVVVPTHM/sandyBeach.jpg");
}
section.module.parallax.parallax-1 h1 {
    font-size: 90px;
    margin-top: 0px;
    line-height: 500px;
}
#info_me {
  width: 70%;
  font-size: 1.4em;
  margin: 0 auto;
}
h3 {
  width: 90%;
  font-size: 2em;
  margin: 0 auto;
}
#info_skills {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
}

/*----Contact Section----*/
form {
  background: LightSteelBlue;
  margin: auto;
  position: relative;
  width: 45%;
  height: 70%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
input {
  font-size: medium;
  width: 40%;
  display:block;
  border: 1px solid #999;
  height: 1.5em;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#email:hover {
  cursor: text;
}
#message:hover {
  cursor: text;
}
#message {
  border: 1px solid #999;
  width: 98.8%;
  height: 10em;
  margin-right: 20px;
  display: block;
  font-size: medium;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#send {
  background: #a2cce8;
  background-image: -webkit-linear-gradient(top, #a2cce8, #0f6aa3);
  background-image: -moz-linear-gradient(top, #a2cce8, #0f6aa3);
  background-image: -ms-linear-gradient(top, #a2cce8, #0f6aa3);
  background-image: -o-linear-gradient(top, #a2cce8, #0f6aa3);
  background-image: linear-gradient(to bottom, #a2cce8, #0f6aa3);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  -webkit-box-shadow: 0px 0px 10px #333033;
  -moz-box-shadow: 0px 0px 10px #333033;
  box-shadow: 0px 0px 10px #333033;
  font-family: Tahoma, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  height: 20%;
  width: 125px;
  position: static;
  margin: 10px;
}
#send:hover {
  background: #0f6aa3;
  background-image: -webkit-linear-gradient(top, #0f6aa3, #a2cce8);
  background-image: -moz-linear-gradient(top, #0f6aa3, #a2cce8);
  background-image: -ms-linear-gradient(top, #0f6aa3, #a2cce8);
  background-image: -o-linear-gradient(top, #0f6aa3, #a2cce8);
  background-image: linear-gradient(to bottom, #0f6aa3, #a2cce8);
  text-decoration: none;
}
footer {
  padding: 5px;
  background: black;
  color: white;
}

/*---Responsive Design---*/
@media only screen and (max-device-width: 460px) {
  section.module.parallax h1 {
    line-height: 300px;
  }
 .right a {
    margin: 0px;
    padding right: 2px;
    padding-left: 2px;
  }
  .left a {
    padding-left: 3px;
    padding-right: 3px;
  }
  .right {
    margin-right: 15px;
  }
  #main_title {
    font-size: 50px;
    line-height: 300px;
  }
  section.module p {
    font-size: 15px;
  }
  section.module.parallax {
    height: 300px;
  }
  #work_title {
    font-size: 27px;
  }
  #projects .img {
    zoom: 0.5;
  }
  section.module h2 {
    font-size: 30px;
  }
  #about_title {
    font-size: 50px;
  }
  #info_skills {
    font-size: 20px;
    width: 90%;
  }
  #info_me {
    font-size: 18px;
    width: 85%;
  }
  #contact_title {
    font-size: 48px;
  }
  input {
    width: 50%;
  }
}
